.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  width: 300px;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
}

p {
  font-size: 1.2rem;
}


/* spinner styles */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  padding:3px;
  background: 
    radial-gradient(farthest-side,#FF600C 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px),#FF600C calc(100% - 4px)) content-box;
  animation:s6 2s infinite ;
}
@keyframes s6 {to{transform: rotate(1turn)}}